*{
    margin: 3px;
}
body{
    background-color: #f1faee;
}
button{
    font-size: 30px;
    background-color: #a8dadc;
}
h1,h2{
    color: #1d3557;
}
#signup{
    background-color: #1d3557;
    color: #f1faee;
}
span{
    color: #457b9d;
}
.tag{
    background-color: #e63946;
    color: #f1faee;

}
span a{
    color : #457b9d;
}
/* 밑에꺼는 추천하는 방법이 아님 */
/* section span a{

} */
h1,h2{
    color: olivedrab;
}
