<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drug.dao.QnaDao">
 <insert id="create">
	insert into qna_board
	values(#{title},#{content},#{writer},sysdate,0,bno.nextval)
</insert>

<select id="read" resultType="com.drug.dto.QnaDto">
select * from qna_board where bno=#{bno}
</select>

<update id="update">
update qna_board set title =#{title}, content=#{content}
where bno=#{bno}
</update>

<delete id="delete">
delete from qna_board where bno=#{bno}
</delete>

<!-- <sql id="search">
	<if test="searchType!=null">
		<if test="searchType == 'ddddd'.toString()"> and (title like '%'||#{keyword}||'%' OR content like '%'||${keyword}||'%' OR writer like '%'||#{keyword}||'%')</if>
		<if test="searchType == 't'.toString()"> and title like '%'|| #{keyword}||'%' </if>
		<if test="searchType == 'c'.toString()"> and content like '%'|| #{keyword}||'%' </if>
		<if test="searchType == 'w'.toString()"> and writer like '%'|| #{keyword}||'%' </if>
		<if test="searchType == 'tc'.toString()"> and ( title like '%'|| #{keyword}||'%' OR content like '%'|| #{keyword}||'%') </if>
		<if test="searchType == 'cw'.toString()"> and ( content like '%'|| #{keyword}||'%' OR writer like '%'|| #{keyword}||'%') </if>
		<if test="searchType == 'tcw'.toString()"> and ( title like '%'|| #{keyword}||'%' OR content like '%'|| #{keyword}||'%' OR writer like '%'|| #{keyword}||'%') </if>
	</if>
</sql> -->
  <select id="listSearch" resultType="com.drug.dto.QnaDto">
<![CDATA[select * from(select rownum rn,a.* from(
select qna_board.* from qna_board where 1=1]]>
<!-- <include refid="search"></include> -->
<![CDATA[order by bno desc) a where rownum<=#{page} * #{perPageNum}) b where rn>(#{page}-1) * #{perPageNum}]]>
</select>

 <select id="listSearchCount" resultType="int">
<![CDATA[select count(bno) from qna_board where 1=1]]>
<!-- <include refid="search"/> -->
<![CDATA[ and bno > 0]]>
</select> 
 
</mapper>