<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.drug.dao.IAdminDao">
<insert id="insert">
insert into admin(id,pw,ad_num) values(#{id},#{pw},#{ad_num})
</insert>
<select id="selectAll" resultType="AdminDto">
select * from admin
</select>
<select id="selectId" resultType="AdminDto">
select * from admin where id=#{id}
</select>
<update id="update">
update admin set pw=#{pw} where id=#{id}
</update>
<delete id="delete">
delete admin where id=#{id}
</delete>
</mapper>